<html>
  <head></head>
  <body>
    <h1>New Message Form</h1>
    <form action="POST" action="/new">
      <label for="userName">Enter Username</label>
      <input type="text" />
      <label for="userText">Enter Message</label>
      <input type="text" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
